<!DOCTYPE html>
<html>

<head>
	<title> About Me </title>
	<link href="css/site.css" rel= "stylesheet">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

<div class="jumbotron">
	<h1>Suwen Li</h1>
	<p>This is me</p>
</div>

<body>

<ul class="nav nav-tabs">
    <li class="active"><a href="templates/about.html">About</a></li>
    <li><a href="index.html">Home</a></li>
</ul>

	<div id="main">
	<h1>I am an Engineering student</h1>

	<p>hello</p>
	<footer id ="foot01"></footer>
	</div>

</body>
</html>